.home_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    flex-direction: column;
    color: white;
    padding-top: 120px;
}

.title{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.home_footer{
    align-self: flex-end;
}

.carousel_container{
    overflow: hidden;
    border-width: .2rem .2rem 0;
    border-radius: 8px 8px 0 0;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    width: 50%;
}

.carousel_item{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.carousel_img{
    display: flex;
    height: 400px;
    flex-direction: column;
    box-sizing: border-box;
    width: 50% ;
}

// .carousel_text{
//     display: flex;
//     justify-content: center;
// }

.container_card_home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
}