.header_container_home {
    background-color: #A461A1;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
}   

.container_buttons{
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.header_buttons_item{
    margin: 0 10px; 
}