.header_container_home {
    background-color: #A461A1;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
}   

.logo_header_home{
    padding: 0 10px;
    max-width: 150px;
    max-height: 75px;
    min-width: 30px;
    min-height: 35px;
    margin: 5px; 
    border-radius: 30px;
}

.container_buttons{
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
    
    
}

.header_buttons_item{
    margin: 0 10px; 
}