@mixin baseFormat {
    display: flex;
    flex-wrap: wrap;
}

.products_container{
    @include baseFormat;
    background-color: black;
    flex-direction: column;
    color: white;
    padding-top: 120px;
}

.title{
    text-align: center;
    padding-top: 10px;
}

.container_card_home{
    width: 80%;
    align-self: center;
    padding-bottom: 100px;
    padding-top: 80px;
}