.products_container{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    flex-direction: column;
    color: white;
    padding-top: 30px;
}

.title{
    text-align: center;
    padding-top: 10px;
}

.container_card_home{
    width: 80%;
    align-self: center;
    padding-bottom: 50px;
}