.admin_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  padding-top: 120px;
}

.title {
  text-align: center;
  padding-top: 10px;
}

.h1-do-todo {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 40px;
  text-align: center;
}

.form-do-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 70vh;
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.form-do-todo inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-do-todo row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-do-todo span-do-todo {
  margin-bottom: 5px;
  color: #fff;
}

.row > label-do-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.label-do-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-do-todo {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  height: 55px;
  border: none;
  border-radius: 5px;
}

.container-buttons-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex: 1; */
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-todo {
  height: 50px;
  width: 185px;
  background: #fff;
  border: none;
  border-radius: 2px;
}

.button-todo:last-child {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.section-dos-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Card-dos-produtos {
  background: rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0 8px 32px 0 rgba(186, 145, 199, 0.37);
          box-shadow: 0 8px 32px 0 rgba(186, 145, 199, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  font-size: 1rem;
  width: 280px;
  height: 480px;
  margin: 20px;
  padding: 20px 10px;
}

.Card-dos-produtos card_title {
  padding-bottom: 20px;
}

.Card-dos-produtos card_body {
  text-align: center;
}
/*# sourceMappingURL=admin.css.map */