.title {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px;
  color: black;
}

.h1-do-todo {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 40px;
  text-align: center;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
}

.form-do-todo {
  background: #4b7bec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row > label-do-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.label-do-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.span-do-todo {
  margin-bottom: 5px;
  color: #fff;
}

.input-do-todo {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  height: 55px;
  border: none;
  border-radius: 5px;
}

.container-buttons-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex: 1; */
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-todo {
  height: 50px;
  width: 185px;
  background: #fff;
  border: none;
  border-radius: 2px;
}

.button-todo:last-child {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.container-dos-todos {
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 5px;
  overflow-y: scroll;
}

.teste-do-todo {
  background: #f0f0f0;
  margin: 2px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.p-do-todo {
  font-weight: 300;
}
/*# sourceMappingURL=admin.css.map */